{% extends 'doctor/base.html' %}
<!-- -->
<!---->
{% block body %}

<main>
  <div class="columns" style="align-items: center;">
    <h2 class="type">Today's appointments</h2>
    <div class="spacer"></div>
   
  </div>
  
  {% if today %}
  
  {% for appointment in today %}
  <div class="columns">
    <section class="column">
      <div class="card clickable" onclick="gotoAppointmentDetail('{{ appointment.id }}')">
        <div class="columns">
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">face</i>
              </div>
              <div class="info-content">
                <div class="label">For</div>
                <div class="title primary">{{ appointment.patient_name }}</div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="info">
              <div class="info-content" style="text-align: center;">
                <div class="label">Status</div>
                <div class="title primary
                  {% if appointment.appointment_status == 'pending' %}
                    warning
                  {% endif %}
                  {% if appointment.appointment_status == 'completed' %}
                    success
                  {% endif %}
                  {% if appointment.appointment_status == 'cancelled' %}
                    error
                  {% endif %}
                    "
                  >
                    {{appointment.appointment_status | title }}
                  </div>
              </div>
            </div>
          </div>

          <div class="info">
            <div class="info-content align-right">
              <div class="secondary bolder">{{ appointment.timing.date_string }}</div>
              <div class="title primary">{{ appointment.timing.time_slot_string }}</div>
            </div>
          </div>
        </div>
        <hr class="thin" />
        <div class="columns">
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">ac_unit</i>
              </div>
              <div class="info-content">
                <div class="label">Treatment</div>
                <div class="title primary">{{ appointment.specialization_name }}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">assignment_ind</i>
              </div>
              <div class="info-content">
                <div class="label">Doctor</div>
                <div class="title primary">{{ appointment.doctor_name }}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">local_hospital</i>
              </div>
              <div class="info-content">
                <div class="title secondary">{{ appointment.hospital.name }}</div>
              </div>
            </div>
            <div class="info">
              <div class="icon">
                <i class="material-icons">add_location</i>
              </div>
              <div class="info-content">
                <div class="subtitle">
                  {{ appointment.hospital.address }}
                </div>
              </div>
            </div>
            <div class="info">
              <div class="icon">
                <i class="material-icons">call</i>
              </div>
              <div class="info-content">
                <div class="subtitle">
                  {{ appointment.hospital.contact }}
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="icon-btn" style="align-self: flex-end; padding:16px;">
            <i class="material-icons">more_vert</i>
          </div> -->
        </div>
      </div>
    </section>
  </div>
  <div class="vertical-spacer"></div>

  {% endfor %}
    {% else %}
    <div class="columns">
      <section class="column">
        <div class="card">
          <div class="columns" ">
            <h1 class="type" style="opacity: 0.3; margin: 0 auto; padding: 48px 24px;" id="no-appointments">No appointments for today</h1>
          </div>
        </div>
      </section>
    </div>
    <div class="vertical-spacer"></div>
  {% endif %}
    
  
 

  <div class="columns clickable flex-align-center" id="expand-toggle">
    <h3 class="type">Upcoming appointments</h3>
    <div class="spacer"></div>

    <i class="material-icons icon-btn" id="expand-toggle-indicator"
      >keyboard_arrow_down</i
    >
  </div>
  <div class="expand-area" id="expand-area">
    {% if upcoming %}
  
    {% for appointment in upcoming %}
    <div class="columns">
      <section class="column">
        <div class="card outlined clickable" onclick="gotoAppointmentDetail('{{ appointment.id }}')"> 
          <div class="columns">
            <div class="column">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">face</i>
                </div>
                <div class="info-content">
                  <div class="label">For</div>
                  <div class="title primary">{{ appointment.patient_name }}</div>
                </div>
              </div>
            </div>
  
            <div class="column">
              <div class="info">
                <div class="info-content" style="text-align: center;">
                  <div class="label">Status</div>
                  <div class="title primary
                  {% if appointment.appointment_status == 'pending' %}
                    warning
                  {% endif %}
                  {% if appointment.appointment_status == 'completed' %}
                    success
                  {% endif %}
                  {% if appointment.appointment_status == 'cancelled' %}
                    error
                  {% endif %}
                    "
                  >
                    {{appointment.appointment_status | title }}
                  </div>
                </div>
              </div>
            </div>
  
            <div class="info">
              <div class="info-content align-right">
                <div class="secondary bolder">{{ appointment.timing.date_string }}</div>
                <div class="title primary">{{ appointment.timing.time_slot_string }}</div>
              </div>
            </div>
          </div>
          <hr class="thin" />
          <div class="columns">
            <div class="column">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">ac_unit</i>
                </div>
                <div class="info-content">
                  <div class="label">Treatment</div>
                  <div class="title primary">{{ appointment.specialization_name }}</div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">assignment_ind</i>
                </div>
                <div class="info-content">
                  <div class="label">Doctor</div>
                  <div class="title primary">{{ appointment.doctor_name }}</div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="info">
                <div class="icon">
                  <i class="material-icons">local_hospital</i>
                </div>
                <div class="info-content">
                  <div class="title secondary">{{ appointment.hospital.name }}</div>
                </div>
              </div>
              <div class="info">
                <div class="icon">
                  <i class="material-icons">add_location</i>
                </div>
                <div class="info-content">
                  <div class="subtitle">
                    {{ appointment.hospital.address }}
                  </div>
                </div>
              </div>
              <div class="info">
                <div class="icon">
                  <i class="material-icons">call</i>
                </div>
                <div class="info-content">
                  <div class="subtitle">
                    {{ appointment.hospital.contact }}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="icon-btn" style="align-self: flex-end; padding:16px;">
              <i class="material-icons">more_vert</i>
            </div> -->
          </div>
        </div>
      </section>
    </div>
    <div class="vertical-spacer"></div>
  
    {% endfor %}
      {% else %}
      <div class="columns">
        <section class="column">
          <div class="card">
            <div class="columns" ">
              <h1 class="type" style="opacity: 0.3; margin: 0 auto; padding: 48px 24px;" id="no-appointments">No upcoming appointments</h1>
            </div>
          </div>
        </section>
      </div>
      <div class="vertical-spacer"></div>
    {% endif %}
      
  </div>

  <div class="vertical-spacer"></div>
  <div class="modal-container" style="display: none;">
    <div class="modal-content">
      <div class="modal-header">Do you want to continue?</div>
      <div class="modal-subtitle">
        This is a permanent action
      </div>
      <hr>
      <div class="modal-actions">
        <button class="btn">Cancel</button>
        <button class="btn primary">Continue</button>
      </div>
    </div>
  </div>
</main>

{% endblock body %} {% block script %}
<script>
  var selectedItemId = "doctor-dashboard";
  function gotoAppointmentDetail(appointmentId) {
    appointmentId = Number(appointmentId);
    window.open(`{% url 'app:doctor:doctor_appointments' %}/${appointmentId}`); 
  }
</script>

{% endblock script %}
