{% extends 'doctor/base.html' %}
<!-- -->
{% block body %}
<main>
  <section id="step-1">
    <div class="columns" style="align-items: center;">
      <h2 class="type">Profile</h2>
      <div class="spacer"></div>
      <button class="btn outlined" id="profile-changes-toggle">
        Edit Details
      </button>
    </div>
    <form action="profile" method="post">
      {% csrf_token %}
      <div class="card ">
        <div class="multifield">
          <div class="field">
            <span>First name (Dr. autoprefixed)</span>
            <input
              type="text"
              name="first_name"
              placeholder="First Name"
              value="{{ user.first_name }}"
              required
              disabled
            />
          </div>
          <div class="field">
            <span>Last Name</span>
            <input
              type="text"
              name="last_name"
              placeholder="Last Name"
              value="{{ user.last_name }}"
              disabled
            />
          </div>
        </div>
        <div class="field">
          <span>A short description of yourself</span>
          <textarea
            type="text"
            rows="5"
            name="bio"
            value="{{ user.bio }}"
            placeholder="Write a short paragraph describing yourself, your work and expertise"
            required
            disabled >{{ user.bio }}</textarea>
        </div>
        <div class="field">
          <span>Mobile Number</span>
          <input
            pattern="[0-9]{10}"
            type="text"
            name="mobile"
            maxlength="10"
            value="{{ user.mobile }}"
            placeholder="Mobile Number"
            required
            disabled
          />
        </div>
        <div class="field">
          <span>Email Address</span>
          <input
            type="email"
            name="email"
            maxlength="10"
            value="{{ user.email }}"
            placeholder="Mobile Number"
            required
            disabled
          />
        </div>
        <div class="field">
          <span>Specialization</span>
          <input
            type="text"
            name="specialization"
            maxlength="10"
            value="{{ user.specialization.name }}"
            placeholder="Specialization"
            required
            disabled
          />
        </div>
        <div class="field">
          <span>Indian Medical Registry Number</span>
          <input
            type="text"
            name="registration"
            maxlength="10"
            value="{{ user.registration_number }}"
            placeholder="Registration Number"
            required
            disabled
          />
        </div>
        <div class="field">
          <span>Qualification</span>
          <input
            type="text"
            name="qualification"
            maxlength="10"
            value="{{ user.qualification }}"
            placeholder="Qualification"
            required
            disabled
          />
        </div>
        <!-- prettier-ignore -->
        <div class="field">
          <span>Working on National Holidays</span>
          <label>
            <input
              type="checkbox"
              {% if user.working_on_holidays %}
              checked="checked"
              value="True"
              {% endif %}
              class="checkbox"
              name="working_on_holidays"
              disabled
            />
            <span class="checkmark"
              >Enable if you are working on National Holidays</span
            >
          </label>
        </div>
        <h3 class="type" style="display:none; padding-left: 24px;">
          Select your working preference for each week day
        </h3>
        <div
          class="container"
          style="display: none; flex-direction: column; max-width: 400px;"
        >
          <div
            class="column"
            style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
          >
            <span>Monday</span>
            <select name="monday" id="0" disabled>
              <option value="" disabled>Select availability</option>
              <option value="0" {% if user.weekday_availability.0 == 0 %}
              selected
            {% endif %}>No appointments</option>
              <option value="1" {% if user.weekday_availability.0 == 1 %}
              selected
            {% endif %}>1 person per slot</option>
              <option value="2" {% if user.weekday_availability.0 == 2 %}
              selected
            {% endif %}>2 people per slot</option>
              <option value="3" {% if user.weekday_availability.0 == 3 %}
              selected
            {% endif %}>3 people per slot</option>
            </select>
          </div>
          <div class="vertical-spacer"></div>
          <div
            class="column"
            style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
          >
            <span>Tuesday</span>
            <select name="tuesday" id="0" disabled>
              <option value="" disabled>Select availability</option>
              <option value="0" {% if user.weekday_availability.1 == 0 %}
              selected
            {% endif %}>No appointments</option>
              <option value="1" {% if user.weekday_availability.1 == 1 %}
              selected
            {% endif %}>1 person per slot</option>
              <option value="2" {% if user.weekday_availability.1 == 2 %}
              selected
            {% endif %}>2 people per slot</option>
              <option value="3" {% if user.weekday_availability.1 == 3 %}
              selected
            {% endif %}>3 people per slot</option>
            </select>
          </div>
          <div class="vertical-spacer"></div>
          <div
            class="column"
            style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
          >
            <span>Wednesday</span>
            <select name="wednesday" id="0" disabled>
              <option value="" disabled>Select availability</option>
              <option value="0" {% if user.weekday_availability.2 == 0 %}
              selected
            {% endif %}>No appointments</option>
              <option value="1" {% if user.weekday_availability.2 == 1 %}
              selected
            {% endif %}>1 person per slot</option>
              <option value="2" {% if user.weekday_availability.2 == 2 %}
              selected
            {% endif %}>2 people per slot</option>
              <option value="3" {% if user.weekday_availability.2 == 3 %}
              selected
            {% endif %}>3 people per slot</option>
            </select>
          </div>
          <div class="vertical-spacer"></div>
          <div
            class="column"
            style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
          >
            <span>Thursday</span>
            <select name="thursday" id="0" disabled>
              <option value="" disabled>Select availability</option>
              <option value="0" {% if user.weekday_availability.3 == 0 %}
              selected
            {% endif %}>No appointments</option>
              <option value="1" {% if user.weekday_availability.3 == 1 %}
              selected
            {% endif %}>1 person per slot</option>
              <option value="2" {% if user.weekday_availability.3 == 2 %}
              selected
            {% endif %}>2 people per slot</option>
              <option value="3" {% if user.weekday_availability.3 == 3 %}
              selected
            {% endif %}>3 people per slot</option>
            </select>
          </div>
          <div class="vertical-spacer"></div>
          <div
            class="column"
            style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
          >
            <span>Friday</span>
            <select name="friday" id="0" disabled>
              <option value="" disabled>Select availability</option>
              <option value="0" {% if user.weekday_availability.4 == 0 %}
              selected
            {% endif %}>No appointments</option>
              <option value="1" {% if user.weekday_availability.4 == 1 %}
              selected
            {% endif %}>1 person per slot</option>
              <option value="2" {% if user.weekday_availability.4 == 2 %}
              selected
            {% endif %}>2 people per slot</option>
              <option value="3" {% if user.weekday_availability.4 == 3 %}
              selected
            {% endif %}>3 people per slot</option>
            </select>
          </div>
          <div class="vertical-spacer"></div>
          <div
          class="column"
          style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
        >
          <span>Saturday</span>
          <select name="saturday" id="0" disabled>
            <option value="" disabled>Select availability</option>
            <option value="0" {% if user.weekday_availability.5 == 0 %}
            selected
          {% endif %}>No appointments</option>
            <option value="1" {% if user.weekday_availability.5 == 1 %}
            selected
          {% endif %}>1 person per slot</option>
            <option value="2" {% if user.weekday_availability.5 == 2 %}
            selected
          {% endif %}>2 people per slot</option>
            <option value="3" {% if user.weekday_availability.5 == 3 %}
            selected
          {% endif %}>3 people per slot</option>
          </select>
        </div>
        <div class="vertical-spacer"></div>
        <div
          class="column"
          style="padding-left: 24px; display: flex; align-items: center; justify-content: space-between;"
        >
          <span>Sunday</span>
          <select name="sunday" id="0" disabled>
            <option value="" disabled>Select availability</option>
            <option value="0" {% if user.weekday_availability.6 == 0 %}
            selected
          {% endif %}>No appointments</option>
            <option value="1" {% if user.weekday_availability.6 == 1 %}
            selected
          {% endif %}>1 person per slot</option>
            <option value="2" {% if user.weekday_availability.6 == 2 %}
            selected
          {% endif %}>2 people per slot</option>
            <option value="3" {% if user.weekday_availability.6 == 3 %}
            selected
          {% endif %}>3 people per slot</option>
          </select>
        </div>
        <div class="vertical-spacer"></div>
        </div>
        <div class="vertical-spacer"></div>
        <div class="row" id="profile-changes-option" style="display: none;">
          <button
            class="btn outlined"
            onclick="enableForm(false);"
            type="button"
          >
            Cancel
          </button>
          <div class="spacer"></div>
          <button class="btn primary flex-end" type="submit">
            Save Changes
          </button>
        </div>
        <div class="vertical-spacer"></div>
      </div>
    </form>
  </section>
</main>
{% endblock body %}
<!-- -->
{% block script %}
<script>
  var selectedItemId = "doctor_profile";
  const profileChangeToggle = document.getElementById("profile-changes-toggle");
  const profileChangeOptions = document.getElementById(
    "profile-changes-option"
  );
  profileChangeToggle.addEventListener("click", () => {
    enableForm(true);
  });

  function enableForm(status) {
    const formElements = document.querySelectorAll("input, select, textarea");
    const exclusions = [
'email',
'qualification',
'registration',
'specialization'
    ]
    formElements.forEach(element => {
      if (exclusions.indexOf(element.name) > -1) return;
      if (status) {
        element.disabled = false;
      } else {
        element.disabled = true;
      }
    });
    if (status) {
      profileChangeToggle.style.display = "none";
      profileChangeOptions.style.display = "flex";
    } else {
      profileChangeToggle.style.display = "flex";
      profileChangeOptions.style.display = "none";
    }
  }
</script>
{% endblock script %}
