{% extends 'hospital-admin/base.html' %}
<!-- -->
<!---->
{% block body %}

<main>
  <div class="columns" style="align-items: center;">
    <h2 class="type">Admin Dashboard</h2>
    <div class="spacer"></div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="info">
        <div class="icon">
          <i class="material-icons">assignment_ind</i>
        </div>
        <div class="info-content">
          <div class="label">New Registrations</div>
          <div class="title primary">78</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info">
        <div class="icon">
          <i class="material-icons">assignment_ind</i>
        </div>
        <div class="info-content">
          <div class="label">Appointments</div>
          <div class="title primary">90</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="info">
        <div class="icon">
          <i class="material-icons">assignment_ind</i>
        </div>
        <div class="info-content">
          <div class="label">Doctor</div>
          <div class="title primary">Dr. Ram Kumar</div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-spacer"></div>

  <div class="vertical-spacer"></div>
</main>

{% endblock body %}
<!---->{% block script %} var selectedItemId = 'dashboard' {% endblock script %}
