/* Color helpers */

.primary {
  color: #2887e0;
}

.secondary {
  color: #009e42;
}
.warning {
  color: rgb(196, 130, 33);
}

.error {
  color: rgb(196, 33, 33);
}

.grey {
  color: grey;
}

.primary-bg {
  background-color: #2887e0 !important;
}

.secondary-bg {
  background-color: #009e42 !important;
}

.success-bg {
  background-color: rgb(20, 128, 47) !important;
}

.warning-bg {
  background-color: rgb(196, 130, 33) !important;
}

.error-bg {
  background-color: rgb(196, 33, 33) !important;
}

.success {
  color: green;
  border-color: green;
}

.bolder {
  font-weight: 600;
}
