@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900&display=swap");
@import "./buttons.css";
@import "./colors.css";
.alert {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: grey;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 8px solid rgb(255, 255, 255);
}

.alert-info {
  background-color: rgb(26, 104, 194);
}

.alert-success {
  background-color: rgb(20, 128, 47);
}

.alert-error {
  background-color: rgb(194, 34, 34);
}

html {
  top: 0;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  top: 0;
  background-color: rgb(250, 250, 250);
  height: 100%;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
}
.content {
  background-color: white;
  margin: 48px auto auto auto;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -1px 9px 15px -3px rgba(0, 0, 0, 0.25);
}

form {
  width: 100%;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.field {
  margin: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.field > input {
  font-size: 18px;
  padding: 8px;
  margin-top: 8px;
  border: 1.5px solid rgba(0, 102, 255, 0.438);
  border-radius: 8px;
  outline: none;
  transition: 0.1s all ease-in-out;
}

.field > input:focus {
  border: 1.5px solid rgb(0, 102, 255);
}

.field > input:valid:not(:placeholder-shown) {
  border: 1.5px solid rgb(25, 175, 70);
}
.field > input:invalid:not(:placeholder-shown) {
  border: 1.5px solid rgb(175, 43, 25);
}
.field > input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1.5px solid rgb(175, 43, 25);
}

.field > span {
  color: grey;
}

.header {
  padding: 18px 24px;
  color: white;
}

.header > * {
  margin: 4px 0px;
}

.header a {
  color: white;
}

.flex-center {
  justify-self: center;
  align-self: center;
}

.flex-end {
  justify-self: end;
  align-self: flex-end;
}
.multifield {
  display: flex;
  flex: 1;
}

.multifield > * {
  width: 100%;
}

.field > select {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 8px;
}

.field > select > option {
  font-size: 18px;
  padding: 8px;
}

.nav-bar {
  height: 64px;
  background-color: #2887e0;
  color: white;
  font-size: 16px;
  display: flex;
  z-index: 10000;
  position: relative;
  align-items: center;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(34, 105, 212, 0.21);
}

.nav-bar > h1 {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.pseudomargin {
  width: 24px;
}

.side-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  padding-top: 14px;
  background-color: #fff;
  box-shadow: 13px 0px 16px -10px rgba(34, 105, 212, 0.15);
  overflow-x: hidden;
}

.side-nav.open {
  width: 300px;
}

.side-nav-item {
  color: #2887e0;
  background-color: transparent;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.side-nav-item.clickable {
  cursor: pointer;
  user-select: none;
}

.side-nav-item.clickable:hover {
  background-color: #2887e011;
}

.side-nav-item > *:first-child {
  margin-right: 16px;
}

.vertical {
  flex-direction: column;
}

.vertical > * > * {
  margin: 0;
  padding: 0;
}

.vertical-spacer {
  height: 24px;
  display: block;
}

.side-nav-item > span {
  color: grey;
}

.side-nav-item.selected {
  background-color: #2887e0;
  pointer-events: none;
}

.side-nav-item.selected > * {
  color: white;
}

.side-nav-item.selected:hover {
  background-color: #2887e0;
  cursor: default;
}

main {
  margin: 0 auto;
  padding: 16px 24px;
  max-width: 1080px;
}

.columns {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

.card {
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.09);
  transition: 0.2s all ease;
}

.card.outlined {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.075);
}

.info {
  display: flex;
  align-items: center;
  margin: 10px 24px;
}

.info > .info-content {
  display: flex;
  flex-direction: column;
}

.info > .icon {
  margin-right: 12px;
  line-height: 12px;
  color: rgb(194, 194, 194);
}
.info > .info-content > .label {
  color: grey;
}

.info > .info-content > .title {
  font-size: 20px;
  font-weight: 600;
}

.align-right {
  justify-content: right;
  align-items: flex-end;
}

hr.thin {
  border: 1px solid rgba(0, 0, 0, 0.082);
}

h1.type {
  font-size: 48px;
  color: #2887e0;
}

h3.type {
  font-size: 26px;
  color: #009e42;
  font-weight: 500;
}

h2.type {
  font-size: 36px;
  color: #2887e0;
  font-weight: bold;
}

.search {
  display: flex;
  opacity: 0.5;
  align-items: center;
  padding: 0px 24px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 8px;
  transition: 0.1s all ease;
}

.search:focus-within {
  opacity: 1;
  background-color: white;
  color: black;
}
.search > .icon {
  line-height: 12px;
}

.search input {
  background-color: transparent;
  color: black;
  border: none;
  padding: 8px;
  font-size: 18px;
  outline: none;
}

.search input::placeholder {
  color: rgb(255, 255, 255);
}

.card.outlined:hover {
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.09);
}

.row {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
}

.search-area {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.search-area input {
  font-size: 36px;
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-bottom: 14px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.336);
}

.search-area input::placeholder {
  color: rgba(128, 128, 128, 0.363);
}

.search-area .result {
  padding: 24px;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.search-area .result .result-type {
  font-size: 16px;
  font-weight: normal;
}

@keyframes clock-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(90deg);
  }
  39% {
    transform: rotate(180deg);
  }
  51% {
    transform: rotate(180deg);
  }
  59% {
    transform: rotate(270deg);
  }
  70% {
    transform: rotate(270deg);
  }
  79% {
    transform: rotate(360deg);
  }
  85% {
    transform: rotate(0deg);
  }
}

.animated-clock {
  animation: clock-animation 3s infinite 0s ease-in-out;
}

.flex-align-center {
  align-items: center;
}

.clickable {
  cursor: pointer;
}

#expand-toggle-indicator {
  transition: 0.3s all ease;
}

.expand-area {
  flex-direction: column;
}

.collapse-menu {
  position: relative;
  background-color: red;
  top: 0;
}

.select {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 8px;
}

.select > option {
  font-size: 18px;
  padding: 8px;
}

.text-label {
  font-size: 16px;
  font-weight: normal;
}

.justify-content-between {
  justify-content: space-between;
}
.hospital-card {
  display: flex;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  border: 2px solid rgba(0, 0, 0, 0.075);
}

.hospital-card-header {
  background-color: #009e42;
  color: white;
  padding: 16px;
}

.hospital-card-header h1 {
  margin: 0px;
}

.hospital-card-header h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}

.hospital-card-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.hospital-card-details-item {
  margin-bottom: 8px;
}
.hospital-card-details-item label {
  margin: 0px;
  color: grey;
}

.hospital-card-details-item h3 {
  margin: 2px 0px;
  color: #2887e0;
}

.hospital-card-actions {
  background-color: rgba(0, 0, 0, 0.082);
  padding: 16px;
}

.card-header {
  margin-left: 16px;
}

.card-header h2 {
  margin: 0px;
}

.card-header p {
  margin: 0px;
  font-size: 20px;
  color: grey;
}

span.type {
  color: grey;
  font-size: 18px;
  margin: 16px;
}

.result {
  cursor: pointer;
  transition: 0.15s all ease;
  box-shadow: 0px 0px 55px 6px rgba(0, 0, 0, 0);
  z-index: 10;
}
.result:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 55px -31px rgba(7, 46, 78, 0.596);
  z-index: 20;
}

.appointment h1 {
  margin: 0;
}

.appointment {
  padding: 24px;
  margin: 24px;
  border-radius: 8px;
  border: 3px dashed #2887e065;
}

.date-list {
  display: flex;
  margin: 24px;
}

.date-chip {
  padding: 8px 16px;
  background: rgba(128, 128, 128, 0.171);
  border-radius: 50px;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.date-chip:hover {
  background: rgba(128, 128, 128, 0.418);
}

.date-chip.selected {
  background: rgb(0, 110, 255);
  color: white;
}

.slots {
  display: flex;
  flex-wrap: wrap;
}

.time-of-day {
  margin: 24px;
}

.time-of-day > label {
  padding-bottom: 24px;
  color: grey;
  font-size: 18px;
}

.time-of-day > hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
  color: rgb(109, 109, 109);
}
