{% extends 'users/base.html' %} {% block body %}

<div class="header warning-bg">
  <h1>Complete your details</h1>
  <span>Some details are required to continue setting up your account.</span>
</div>

<div class="field">
  <!-- prettier-ignore -->

  <span>
    You have authenticated a new account with your Google credentials ({{ user.email }}). Please complete the following details to continue your
    registration.
  </span>
</div>

<form action="{% url 'users:fill_missing' %}" method="post">
  {% csrf_token %}
  <div class="multifield">
    <div class="field">
      <span>First name</span>
      <input
        type="text"
        name="first_name"
        placeholder="First Name"
        value="{{ user.first_name }}"
        required
      />
    </div>
    <div class="field">
      <span>Last Name</span>
      <input
        type="text"
        name="last_name"
        placeholder="Last Name"
        value="{{ user.last_name }}"
      />
    </div>
  </div>

  <div class="field">
    <span>Enter your mobile number (10 digits)</span>
    <input
      pattern="[0-9]{10}"
      type="text"
      name="mobile"
      maxlength="10"
      placeholder="Mobile Number"
      required
    />
  </div>
  <div class="field">
    <span>Choose the account type</span>
    <select name="user_type" required onchange="onUserTypeChanged(event)">
      <option value="" disabled selected>Select a user type</option>
      <option value="doctor">Doctor</option>
      <option value="patient">Patient</option>
    </select>
  </div>
  <div class="field doctor-only" id="registration">
    <span>Provide your Indian Medical Registry Number</span>
    <input
      class="doctor-only-input"
      type="text"
      name="registration"
      maxlength="10"
      pattern="^([0-9]+)$"
    />
  </div>
  <div class="field doctor-only" id="registration">
    <span>Enter your academic qualification</span>
    <datalist id="qualifications">
      {% for qualification in qualifications %}
      <option value="{{ qualification }}"></option>
      {% endfor %}
    </datalist>

    <input
      class="doctor-only-input"
      list="qualifications"
      type="text"
      name="qualification"
    />
  </div>
  <div class="field doctor-only" id="specialization-list">
    <span>Select your specialization</span>
    <select
      class="doctor-only-input"
      id="specialization-select"
      name="specialization"
    >
      <option value="" disabled selected>Select a specialization</option>
      {% for specialization in specializations %}
      <option value="{{ specialization.id }}">
        {{ specialization.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="field doctor-only">
    <span>A short description of yourself</span>
    <!-- prettier-ignore -->
    <textarea
      type="text"
      rows="5"
      name="bio"
      class="doctor-only-input"
      value="{{ user.bio }}"
      placeholder="Write a short paragraph describing yourself, your work and expertise"
      required
    >{{ user.bio }}</textarea>
  </div>

  <div class="field">
    <button type="submit" class="btn primary flex-end">Submit</button>
  </div>
</form>

{% endblock body %} {% block script %}

<script>
  function onUserTypeChanged(event) {
    let user_type = event.target.value;
    if (user_type === "doctor") {
      const doctorOnlyList = document.querySelectorAll(".doctor-only");
      doctorOnlyList.forEach(element => {
        element.style.display = "flex";
      });
      const doctorOnlyInputsList = document.querySelectorAll(
        ".doctor-only-input"
      );
      doctorOnlyInputsList.forEach(element => {
        element.setAttribute("required", "true");
      });
    } else {
      const doctorOnlyList = document.querySelectorAll(".doctor-only");
      doctorOnlyList.forEach(element => {
        element.style.display = "none";
      });
      const doctorOnlyInputsList = document.querySelectorAll(
        ".doctor-only-input"
      );
      doctorOnlyInputsList.forEach(element => {
        element.removeAttribute("required");
      });
    }
  }
</script>
{% endblock script %}
