{% extends 'users/base.html' %} {% block body %}

<div class="header success-bg">
  <h1>Success</h1>
  <span>Your account was successfully created</span>
</div>

<div class="field">
  <span>
    You must verify your email before you can continue. Click the button below
    to send a verification link to your email address.
  </span>
</div>

<div class="field">
  <a href="{% url 'users:send_email' %}" class="flex-end">
    <button type="submit" class="btn primary">Send verification link</button>
  </a>
</div>

{% endblock body %}
