{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>
      {% block title %}Hospital Management{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'the-datepicker.css' %}" />
    <script src="{% static 'the-datepicker.min.js' %}"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

    {% block head %} {% endblock head %}
  </head>
  <body>
    <div class="nav-bar">
      <div class="pseudomargin"></div>
      <div class="icon-btn" id="side-nav-toggle">
        <i class="material-icons">menu</i>
      </div>
      <div class="pseudomargin"></div>

      <h1>Welcome, {{ user.first_name }}</h1>
      <div class="spacer"></div>

      <div class="spacer"></div>
      <span>{{ user.email }}</span>
      <div class="pseudomargin"></div>
      <a href="{% url 'users:logout' %}">
        <button class="btn outlined bg small">LOG OUT</button>
      </a>
      <div class="pseudomargin"></div>
    </div>
    <main></main>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <span> {{ message }}</span>
    </div>
    {% endfor %} {% block body %} {% endblock body %}
    <div class="side-nav" id="side-nav">
      <div class="side-nav-item clickable" id="side-nav-toggle">
        <i class="material-icons">arrow_back</i>
        <span>Close menu</span>
      </div>

      <div class="vertical-spacer"></div>
      <div class="side-nav-item clickable" id="dashboard">
        <i class="material-icons">home</i>
        <span>Dashboard</span>
      </div>
      <div class="side-nav-item clickable" id="new_appointment">
        <i class="material-icons">add</i>
        <span>New Appointment</span>
      </div>
      <div class="side-nav-item clickable" id="patient_appointments">
        <i class="material-icons">assignment_turned_in</i>
        <span>My Appointments</span>
      </div>
      <div class="side-nav-item clickable" id="patient_documents">
        <i class="material-icons">book</i>
        <span>My Documents</span>
      </div>
      <div class="side-nav-item clickable" id="patient_profile">
        <i class="material-icons">account_circle</i>
        <span>My Profile</span>
      </div>
      <div class="spacer"></div>
      <div class="side-nav-item clickable" id="log_out">
        <i class="material-icons">exit_to_app</i>
        <span>Log Out</span>
      </div>
      <div class="vertical-spacer"></div>
      <div class="vertical-spacer"></div>
    </div>

    {% block script %}{% endblock script %}
    <script>
      window.onload = event => {
        //To toggle selected state of the side nav
        console.log(selectedItemId);
        const selectedItem = document.getElementById(selectedItemId);
        if (!selectedItem) return;
        selectedItem.classList.add("selected");
      };
    </script>
    <script src="{% static 'interface.js' %}"></script>
  </body>
</html>
