<h1><span style="color: #3366ff;">Your appointment has been booked for {{ date }} at {{ time }}</span></h1>
<p>Dear {{ patient_name }}, thank you for booking an appointment with us. The details of your booking are:</p>
<p><strong>Timing: {{ date }} {{ time }}</strong></p>
<p><strong>Patient Name:</strong> {{ patient_name }}</p>
<p><strong>Doctor:</strong> {{ doctor_name }}</p>
<p><strong>Treatment Specialization:</strong> {{ specialization_name }}</p>
<p><strong>Hospital:</strong> {{ hospital_name }}</p>
<p><strong>Address:</strong> {{ hospital_address }}</p>
<p><strong>Contact:</strong> {{ hospital_contact }}</p>
