{% extends 'patient/base.html' %}
<!-- -->

{% block script %} var selectedItemId = 'dashboard'; {% endblock script %}<!---->
{% block body %}
<!---->

<main>
  <div class="columns" style="align-items: center;">
    <h2 class="type">Today's appointment</h2>
    <div class="spacer"></div>
    <a href="{% url 'app:patient:new_appointment' %}">
      <button class="btn primary">Book new appointment</button>
    </a>
  </div>
  <div class="columns">
    <section class="column">
      <div class="card">
        <div class="columns">
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">face</i>
              </div>
              <div class="info-content">
                <div class="label">For</div>
                <div class="title primary">Mr. Patient Name</div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="info">
              <div class="info-content" style="text-align: center;">
                <div class="label">Status</div>
                <div class="title primary">Scheduled</div>
              </div>
            </div>
          </div>

          <div class="info">
            <div class="info-content align-right">
              <div class="secondary bolder">31st January 2020</div>
              <div class="title primary">09:30 AM to 10:30 AM</div>
            </div>
          </div>
        </div>
        <hr class="thin" />
        <div class="columns">
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">ac_unit</i>
              </div>
              <div class="info-content">
                <div class="label">Treatment</div>
                <div class="title primary">Speciality Name</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">assignment_ind</i>
              </div>
              <div class="info-content">
                <div class="label">Doctor</div>
                <div class="title primary">Dr. Ram Kumar</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="info">
              <div class="icon">
                <i class="material-icons">local_hospital</i>
              </div>
              <div class="info-content">
                <div class="title secondary">Apollo Hospital</div>
              </div>
            </div>
            <div class="info">
              <div class="icon">
                <i class="material-icons">add_location</i>
              </div>
              <div class="info-content">
                <div class="subtitle">
                  Alagesan Road, Saibaba Colony, Coimbatore - 35
                </div>
              </div>
            </div>
            <div class="info">
              <div class="icon">
                <i class="material-icons">call</i>
              </div>
              <div class="info-content">
                <div class="subtitle">
                  0422-123123
                </div>
              </div>
            </div>
          </div>
          <div class="icon-btn" style="align-self: flex-end; padding:16px;">
            <i class="material-icons">more_vert</i>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="vertical-spacer"></div>

  <div class="vertical-spacer"></div>
</main>

{% endblock body %}
<!-- -->
