{% extends 'patient/base.html' %}
<!-- -->{% block title %} New Appointment {% endblock title %}
<!-- -->

{% block head %} {% endblock head %} {% block body %}
<main>
  <section id="step-1">
    <div class="columns" style="align-items: center;">
      <h2 class="type">Select a time slot</h2>
      <div class="spacer"></div>
      <h3 class="type">Step 2 / 3</h3>
    </div>
    <div class="card" id="search">
      <div class="columns" style="padding: 0px 24px 0px 24px;">
        <h3 class="type">
          Select a date
        </h3>
      </div>
      <div class="date-list">
        <div class="date-chip selected" id="selected-date">
          06/07/2020
        </div>
        <div>
          <div class="date-chip primary" onclick="openDatePicker();">
            Change date
          </div>
          <div
            id="datepicker"
            style="position: absolute; z-index: 10000; display: none;"
          ></div>
        </div>
      </div>
      <div class="columns" id="no-slots" style="display: none;">
        <h1
          class="type"
          style="opacity: 0.3; margin: 0 auto; padding: 48px 24px;"
          id="no-appointments"
        >
          Doctor not available on the selected day
        </h1>
      </div>
      <div class="columns" style="padding: 0px 24px 0px 24px;">
        <h3 class="type">
          Select a time slot
        </h3>
      </div>
      <div class="slot-list">
        <div class="time-of-day">
          <label>Morning</label>
          <div class="vertical-spacer"></div>

          <div class="slots" id="morning-slots">
            <div class="date-chip">
              09:30 AM to 10:30 PM
            </div>
            <div class="date-chip disabled">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
        <div class="time-of-day">
          <label>Noon</label>
          <div class="vertical-spacer"></div>
          <div class="slots" id="noon-slots">
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
        <div class="time-of-day">
          <label>Evening</label>
          <div class="vertical-spacer"></div>

          <div class="slots" id="evening-slots">
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div
        class="columns"
        style="padding: 0px 24px 0px 24px;"
        id="selected-date-display"
      ></div>
      <div style="display: flex; justify-content: flex-end; margin: 24px;">
        <button
          class="btn primary"
          id="continue-button"
          onclick="handleAppointmentSubmit()"
        >
          Continue
        </button>
      </div>
      <!-- <div class="search-area">
        <input
          type="text"
          name="search"
          placeholder="Search to get started"
          autocomplete="off"
          id="search_input"
        />
        <div class="results" id="results"></div>
      </div> -->
      <div class="doctor-card"></div>
    </div>
  </section>
  <form
    id="make-appointment-form"
    action="http://localhost:8000/patient/payment"
    method="POST"
    style="display: none;"
  >
    {% csrf_token %}
    <input
      type="text"
      id="doctor_id_input"
      name="doctor_id"
      value="{{ doctor_id }}"
    />
    <input
      type="text"
      id="hospital_id_input"
      name="hospital_id"
      value="{{ hospital_id }}"
    />
    <input
      type="text"
      id="specialization_id_input"
      name="specialization_id"
      value="{{ specialization_id }}"
    />
    <input type="text" id="selected_date_input" name="date" />
  </form>
</main>
{% endblock body %} {% block script %}
<script>
  let datePicker = null;
  let datePickerInput = null;
  let selectedDate = moment();
  let selectedTimeSlot = null;

  function handleAppointmentSubmit() {
    const makeAppointmentForm = document.querySelector(
      "#make-appointment-form"
    );
    const selectedDateInput = document.querySelector("#selected_date_input");
    selectedDate.set("hour", selectedTimeSlot.hours);
    selectedDate.set("minute", selectedTimeSlot.minutes);
    selectedDateInput.value = selectedDate.format("YYYY-MM-DD HH:mm");
    console.log(selectedDateInput.value);
    makeAppointmentForm.submit();
  }
  function updateSelectedDateChip() {
    const selectedDateChip = document.querySelector("#selected-date");
    selectedDateChip.innerText = "";
    selectedDateChip.innerText = selectedDate.format("DD/MM/YYYY");
    console.log(selectedDate.format("DD/MM/YYYY"));
  }
  window.addEventListener("load", () => {
    fetchSlots();
    updateSelectedDateChip(moment());
    let max_date = new Date();
    max_date.setMonth(max_date.getMonth() + 3);
    datePickerInput = document.getElementById("datepicker");
    datepicker = new TheDatepicker.Datepicker(null, datePickerInput);
    datepicker.options.setHideOnBlur(true);
    datepicker.options.setHideOnSelect(true);
    datepicker.options.setMinDate(new Date().toDateString());
    datepicker.options.setMaxDate(max_date.toDateString());
    datepicker.options.onSelect((event, day) => {
      console.log(day);
      selectedDate = moment({
        years: day.year,
        months: day.month - 1,
        days: day.dayNumber
      });
      updateSelectedDateChip();
      fetchSlots();
      updateSelectionDisplay();
      datePickerInput.style.display = "none";
    });
    datepicker.render();
    const continueButton = document.getElementById("continue-button");
    continueButton.setAttribute("disabled", "true");
  });
  let userChoice = null;
  let context = null;

  var selectedItemId = "new_appointment";
  const searchInput = document.getElementById("search_input");

  searchInput.addEventListener("input", event => {
    console.log(event);
    getSearchResults(event.target.value);
  });

  function openDatePicker() {
    datePickerInput.style.display =
      datePickerInput.style.display == "block" ? "none" : "block";
  }

  function buildSlotChip(start, end, available) {
    start_date = moment();
    start_date.hour(start.hours);
    start_date.minute(start.minutes);
    end_date = moment();
    end_date.hour(end.hours);
    end_date.minute(end.minutes);
    const chip = document.createElement("div");
    chip.classList.add("date-chip");
    if (selectedTimeSlot && selectedTimeSlot.full === start.full) {
      chip.classList.add("selected");
    }
    if (available === false) {
      chip.classList.add("disabled");
    }
    chip.innerHTML = `${start_date.format("hh:mm A")} to ${end_date.format(
      "hh:mm A"
    )}`;
    chip.id = start.full;
    chip.addEventListener("click", event => {
      console.log(event, start);
      handleTimeSlotSelected(start);
    });
    return chip;
  }

  function updateSelectionDisplay() {
    let neat_time;
    try {
      neat_time = moment({
        hours: selectedTimeSlot.hours,
        minutes: selectedTimeSlot.minutes
      });
    } catch (error) {
      return;
    }
    const selectedDateDisplay = document.getElementById(
      "selected-date-display"
    );
    selectedDateDisplay.innerHTML = `
      <h3 class="type">
            Selected time slot: <strong class="primary">${selectedDate.format(
              "DD/MM/YYYY"
            )} ${neat_time.format("hh:mm A")}</strong>
          </h3>
      `;
    const continueButton = document.getElementById("continue-button");
    continueButton.setAttribute("disabled", "false");
    continueButton.removeAttribute("disabled");
  }

  function handleTimeSlotSelected(start) {
    selectedTimeSlot = start;
    fetchSlots();
    updateSelectionDisplay();
  }

  async function fetchSlots() {
    let result = await fetch(
      "http://localhost:8000/patient/get_slots?hospital_id={{ hospital_id }}&doctor_id={{ doctor_id }}&date=" +
        selectedDate.format("YYYY-MM-DD")
    );
    result = await result.json();
    console.log(result);
    const morningSlotsElement = document.getElementById("morning-slots");
    const noonSlotsElement = document.getElementById("noon-slots");
    const eveningSlotsElement = document.getElementById("evening-slots");
    const noSlotsElement = document.getElementById("no-slots");

    morningSlotsElement.innerHTML = "";
    noonSlotsElement.innerHTML = "";
    eveningSlotsElement.innerHTML = "";

    if (result.working === false) {
      noSlotsElement.style.display = "flex";
      return;
    }
    noSlotsElement.style.display = "none";

    result.morning.forEach(result => {
      morningSlotsElement.appendChild(
        buildSlotChip(result.start, result.end, result.available)
      );
    });
    result.noon.forEach(result => {
      noonSlotsElement.appendChild(
        buildSlotChip(result.start, result.end, result.available)
      );
    });
    result.evening.forEach(result => {
      eveningSlotsElement.appendChild(
        buildSlotChip(result.start, result.end, result.available)
      );
    });
  }
</script>
{% endblock script %}
