{% extends 'patient/base.html' %}
<!-- -->{% block title %} New Appointment {% endblock title %}
<!-- -->

{% block head %} {% endblock head %} {% block body %}
<main>
  <h1>Doctor {{ doctor_id }}</h1>
  <h1>Hospital {{ hospital_id }}</h1>
  <h1>Specialization {{ specialization_id }}</h1>
  <section id="step-1">
    <div class="columns" style="align-items: center;">
      <h2 class="type">Select a time slot</h2>
      <div class="spacer"></div>
      <h3 class="type">Step 2 / 3</h3>
    </div>
    <div class="card" id="search">
      <div class="columns" style="padding: 0px 24px 0px 24px;">
        <h3 class="type">
          Select a date
        </h3>
      </div>
      <div class="date-list">
        <div class="date-chip selected" id="selected-date">
          06/07/2020
        </div>
        <div>
          <div class="date-chip primary" onclick="openDatePicker();">
            Change date
          </div>
          <div
            id="datepicker"
            style="position: absolute; z-index: 10000; display: none;"
          ></div>
        </div>
      </div>
      <div class="columns" style="padding: 0px 24px 0px 24px;">
        <h3 class="type">
          Select a time slot
        </h3>
      </div>
      <div class="slot-list">
        <div class="time-of-day">
          <label>Morning</label>
          <div class="vertical-spacer"></div>

          <div class="slots" id="morning-slots">
            <div class="date-chip">
              09:30 AM to 10:30 PM
            </div>
            <div class="date-chip disabled">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
        <div class="time-of-day">
          <label>Noon</label>
          <div class="vertical-spacer"></div>
          <div class="slots" id="noon-slots">
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
        <div class="time-of-day">
          <label>Evening</label>
          <div class="vertical-spacer"></div>

          <div class="slots" id="evening-slots">
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
            <div class="date-chip">
              06/07/2020
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; margin: 24px;">
        <button class="btn primary">Continue</button>
      </div>
      <!-- <div class="search-area">
        <input
          type="text"
          name="search"
          placeholder="Search to get started"
          autocomplete="off"
          id="search_input"
        />
        <div class="results" id="results"></div>
      </div> -->
      <div class="doctor-card"></div>
    </div>
  </section>
  <form
    id="select-slot-form"
    action="http://localhost:8000/patient/select_slot"
    method="POST"
    style="display: none;"
  >
    {% csrf_token %}
    <input type="text" id="doctor_id_input" name="doctor_id" />
    <input type="text" id="hospital_id_input" name="hospital_id" />
    <input type="text" id="specialization_id_input" name="specialization_id" />
  </form>
</main>
{% endblock body %} {% block script %}
<script>
  let datePicker = null;
  let datePickerInput = null;
  let selectedDate = moment();

  function updateSelectedDateChip() {
    const selectedDateChip = document.querySelector("#selected-date");
    selectedDateChip.innerText = "";
    selectedDateChip.innerText = selectedDate.format("DD/MM/YYYY");
    console.log(selectedDate.format("DD/MM/YYYY"));
  }
  window.addEventListener("load", () => {
    fetchSlots();
    updateSelectedDateChip(moment());
    datePickerInput = document.getElementById("datepicker");
    datepicker = new TheDatepicker.Datepicker(null, datePickerInput);
    datepicker.options.setHideOnBlur(true);
    datepicker.options.setHideOnSelect(true);
    datepicker.options.onSelect((event, day) => {
      console.log(day);
      selectedDate = moment({
        years: day.year,
        months: day.month - 1,
        days: day.dayNumber
      });
      updateSelectedDateChip();
      datePickerInput.style.display = "none";
    });
    datepicker.render();
  });
  let userChoice = null;
  let context = null;

  var selectedItemId = "new_appointment";
  const searchInput = document.getElementById("search_input");

  searchInput.addEventListener("input", event => {
    console.log(event);
    getSearchResults(event.target.value);
  });

  function openDatePicker() {
    datePickerInput.style.display =
      datePickerInput.style.display == "block" ? "none" : "block";
  }

  function buildSlotChip(start, end) {
    start_date = moment();
    start_date.hour(start.hours);
    start_date.minute(start.minutes);
    end_date = moment();
    end_date.hour(end.hours);
    end_date.minute(end.minutes);
    return `
    <div class="date-chip">
              ${start_date.format("hh:mm A")} to ${end_date.format("hh:mm A")}
            </div>`;
  }

  async function fetchSlots() {
    let result = await fetch(
      "http://localhost:8000/patient/get_slots?hospital_id={{ hospital_id }}&doctor_id={{ doctor_id }}"
    );
    result = await result.json();
    console.log(result);
    const morningSlotsElement = document.getElementById("morning-slots");
    const noonSlotsElement = document.getElementById("noon-slots");
    const eveningSlotsElement = document.getElementById("evening-slots");

    morningSlotsElement.innerHTML = "";
    noonSlotsElement.innerHTML = "";
    eveningSlotsElement.innerHTML = "";

    result.morning.forEach(result => {
      morningSlotsElement.innerHTML += buildSlotChip(result.start, result.end);
    });
    result.noon.forEach(result => {
      noonSlotsElement.innerHTML += buildSlotChip(result.start, result.end);
    });
    result.evening.forEach(result => {
      eveningSlotsElement.innerHTML += buildSlotChip(result.start, result.end);
    });
  }

  function gotoSearch() {
    const searchResultsCard = document.querySelector("#search");
    const doctorDetailsCard = document.querySelector("#doctor-details");
    searchResultsCard.style.display = "block";
    doctorDetailsCard.style.display = "none";
  }
  function getSearchResults(query) {
    console.log("The query is", query);
    if (query.trim() == "" || !query) {
      const resultsSection = document.getElementById("results");
      resultsSection.innerHTML = "";
      return;
    }
    buildSearchResultsList(false, true);
    fetch(`http://localhost:8000/patient/search?query=${query}`, {}).then(
      response => {
        response.json().then(responseData => {
          console.log(responseData);
          buildSearchResultsList(responseData, false);
        });
      }
    );
  }

  function handleResultClicked(result) {
    if (result.type == "doctor") {
      populateDoctorDetailsCard(result);
    }
  }

  async function populateDoctorDetailsCard(result) {
    let fetchResult = await fetch(
      `http://localhost:8000/patient/get_data?query=${Number(
        result.id
      )}&obj_type=${result.type}`
    );
    fetchResult = await fetchResult.json();
    console.log(fetchResult);
    const searchResultsCard = document.querySelector("#search");
    const doctorDetailsCard = document.querySelector("#doctor-details");
    const doctorDetailsName = document.querySelector("#doctor-details-name");
    const doctorDetailsSpecialization = document.querySelector(
      "#doctor-details-specialization"
    );
    const doctorDetailsHospitals = document.querySelector(
      "#doctor-details-hospitals"
    );
    context = {};
    context["doctor_id"] = fetchResult.id;
    context["specialization_id"] = fetchResult.specialization_id;
    doctorDetailsName.innerText = `Dr. ${fetchResult.first_name} ${fetchResult.last_name}`;
    doctorDetailsSpecialization.innerText = fetchResult.specialization_name;
    hospitals_html = "";
    fetchResult.hospitals.forEach(hospital => {
      hospitals_html += buildHospitalCard(hospital);
    });
    if (fetchResult.hospitals.length == 0) {
      hospital_html = "<h1>No hospitals found</h1>";
    }
    doctorDetailsHospitals.innerHTML = hospitals_html;
    searchResultsCard.style.display = "none";
    doctorDetailsCard.style.display = "block";
  }

  function buildHospitalCard(hospital) {
    return `
  <div class="hospital-card">
          <div class="hospital-card-header">
            <h1>${hospital.hospital_name}</h1>
            <h2>${hospital.address}</h2>
          </div>
          <div class="hospital-card-details">
            <div class="hospital-card-details-item">
              <label>Consulting duration</label>
              <h3>${hospital.session_duration} minutes</h3>
            </div>
            <div class="hospital-card-details-item">
              <label>Opening Hours</label>
              <h3>${hospital.opening_hours}</h3>
            </div>
            <div class="hospital-card-details-item">
              <label>Closing Hours</label>
              <h3>${hospital.closing_hours}</h3>
            </div>
          </div>
          <div class="hospital-card-actions">
            <button class="btn primary block" id="${hospital.hospital_id}" onclick="onBookHospitalClicked(event)">Book</button>
          </div>
        </div>`;
  }

  function onBookHospitalClicked(event) {
    let hospitalId = event.target.id;
    context["hospital_id"] = Number(hospitalId);
    const doctorIdInput = document.querySelector("#doctor_id_input");
    const hospitalIdInput = document.querySelector("#hospital_id_input");
    const specializationIdInput = document.querySelector(
      "#specialization_id_input"
    );
    const selectSlotForm = document.querySelector("#select-slot-form");
    doctorIdInput.value = context.doctor_id;
    hospitalIdInput.value = context.hospital_id;
    specializationIdInput.value = context.specialization_id;
    selectSlotForm.submit();
  }
  function buildSearchResultsList(data, loading, reset = false) {
    const resultsSection = document.getElementById("results");
    resultsSection.innerHTML = "";
    if (reset) return;
    if (loading) {
      resultsSection.innerHTML = `
      <div class="result empty">
            <i class="material-icons animated-clock">hourglass_empty</i>
            <span class="result-type">Searching</span>
          </div>`;
      return;
    }
    if (data.length == 0) {
      resultsSection.innerHTML = ` <div class="result empty">
            <i class="material-icons">not_interested</i>
            <span class="result-type error">No results</span>
          </div>`;
      return;
    }
    data.forEach(result => {
      const resultElement = document.createElement("div");
      resultElement.classList.add("result");
      if (result.type === "doctor") {
        resultElement.innerHTML = `

            <span class="result-title primary"
              >${result.name} ${result.id}<br />
              <span class="grey text-label"
                >Specializes in
                <strong class="secondary">${result.specialization}</strong>
              </span>
            </span>
            <span class="result-type secondary">Doctor</span>
          `;
      } else {
        resultElement.innerHTML = `<span class="result-title primary">${result.name}</span>
            <span class="result-type secondary">${result.type}</span>`;
      }
      resultElement.addEventListener("click", event => {
        handleResultClicked(result);
      });
      resultsSection.append(resultElement);
    });
  }
</script>
{% endblock script %}
